body {
    background-color: rgb(245, 247, 217);
    text-align: center;
}
  
h1 {
    color: black;
    text-align: center;
} 
h6 {
    color: rgba(105, 84, 239, 0.841);
    text-align: center;
}

h5 {
    color: rgba(66, 58, 58, 0.841);
    text-align: center;
}

h4 {
    color: black;
    text-align: center;
}

button {
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
} 


#btn1 {
    background-color: green; 
    color: white;
}
#btn2 {
    background-color: red; 
    color: white;
}
#btn3 {
    background-color: blue;
    color: white;
}
#prevButton {
    background-color: lightgray;
    color: black;
}
#nextButton {
    background-color: lightgray; 
    color: black;
}

svg {
    max-width: 100%;
    margin-left: 20px;
    height: auto;
}
#chart {
    margin-top: 20px;
} 

.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: auto;
    padding: 5px;
    font: 12px sans-serif;
    background: pink;
    border: 1px;
    border-radius: 10px;
    pointer-events: none;
}

.line {
    fill: none;
}

#chart{
    text-align: left;
    margin-left: 200px;
}

#details {
    margin-top: -250px;
    margin-right: 80px;
    text-align: right;
}

#notes{
    margin-top: -450px;
    margin-left: 1100px;
    text-align: start;
    /* vertical-align: auto; */
    color: rgb(0, 0, 0);
    font-size: large;
    white-space: pre;
}